*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-weight: 700;
}

li {
  list-style: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  border: 2px solid red;
  display: grid;
  grid-template-columns: 100px 1fr 250px;
}

.navbar,
.main,
.aside {
  padding: 1.2rem;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
}

.icon-tweet {
  width: 4.8rem;
  height: 4.8rem;
}

.user-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}
